* {
  font-family: 'Quicksand', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  color: black;
  background-color: rgb(246, 246, 238);
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

nav.Portfolio {
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  padding-bottom: 0px;
}

h2.aboutMe {
  text-align: center;
  margin: 20px 0;

}

p.aboutMe {
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}